.-faded {
    opacity: 0.5;
}

#recording {

    .-clickable, .-typable, .-number {
        @extend .shadow;
        @extend .m-1;
        background-color: $colorB;
    }

    .-clickable, .-number {
        @extend .no-gutters;
        cursor: pointer;
    }

    .-selector, .-value {
        @extend .p-1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .-selector {
        font-family: monospace;
        font-size: 0.9em;
        font-weight: bold;
        color: $colorC;
    }
}
